#gameCanvas {
  border-style: solid;
  border-width: medium;
  border-color: black;
  cursor: none;
  background-image: url('../images/blockBreakerBackground.jpg');
  background-size: 800px 500px;
  background-repeat: no-repeat;
}
